*{
  margin: 0;
  padding:0;
}
.fixed{
  position: sticky;
  top:0;
  z-index: 1000;
}
.header_container {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* padding: 1rem 0; */
  /* border-bottom: 1px solid hsl(0, 79%, 78%); */
  height: 70px;
  gap: 10px;
  color: white;
  background-color: #1a1a1a;
}
.logo_container{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 400px;
}
.logo_container img{
  width:80px;  
  padding-top: 5px;
  margin-left: 15px;
  vertical-align: middle;
}
.delivery{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  font-weight: bold;
  padding: 10px;

}
.delivery p{
  font-size: 10px;
}
.search{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  flex: 1;
}
.search select, 
.search input{
  padding: 10px;
font-weight: bold;
outline:1px solid white;
}
.search select{
  border: none;
}
.search input{
  border: 1px solid white;
  width: 100%;
  margin-right: -2px;
}
.search svg{
  padding: 7px;
  background:#fabd69;
  color:#1a1a1a;
}
.search svg:hover{
  background-color: #d49644;
}
.search:focus-within{
  border: 2px solid rgb(235, 161, 173);
}
.order_container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: 450px;
}
.order_container img{
  width: 30px;
  padding: 10px;
}
.order_container p{
  font-size: 10px;
  font-weight: bold;
}
.order_container a{
  font-size: 12px;
  color: white;
  text-decoration: none;
}
.language_container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  padding: 10px;
}
.language_container select{
  background-color: #1a1a1a;  
  border:none;
  color: white;
}
.language_container img{
  width: 40%;
}
.cart{
  position: relative;
  margin-right: 20px;
}
.cart span{
  position: absolute;
  font-weight:bold;
  font-size: 20px;
  top: -6px;
  background-color: #1a1a1a;
  left: 14px;
  color: orange;
}
.order_container a:hover,
.delivery:hover,
.logo_container a:hover,
.lower_container ul li:hover{
  border: 1px solid white;
  border-radius: 3px;
  cursor: pointer;
}
.lower_container{
  background-color: #232f3e;
  color: white;
}
.lower_container ul{
  display: flex;
  list-style:none;
  gap:5px;
}
.lower_container ul li{
  padding:8px;
}
.lower_container ul li:first-child{
  display: flex;
  gap: 2px;
  align-items: center;
}
@media screen and (max-width:576px){
  .header_container{
    display: flex;
    flex-direction: column !important;
    height: auto;

  }
  .lower_container ul li:not(:first-child){
    display: none;
  }
  .language_container{
    display: none;
  }
}